<p id="notice"><%= notice %></p>




<ul class="pager">
 <li class="previous"><%= link_to 'Edit', edit_employee_path(@employee) %></li>
 <li class="next"><%= link_to 'Back', employees_path %></li>
</ul>
