<p id="notice"><%= notice %></p>

<p>
  <strong>Startjob:</strong>
  <%= @appearance.startjob %>
</p>

<%= link_to 'Edit', edit_appearance_path(@appearance) %> |
<%= link_to 'Back', appearances_path %>
