<footer class="footer">
  <small>
    The <a>Projekt RoR</a>
    by <a>Konrad W</a>
  </small>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "O mnie",   '#' %></li>
      <li><%= link_to "Kontakt", '#' %></li>
   </ul>

  </nav>
</footer>
